{% extends 'permanent.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<section class="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-section-title">
                    <h2>POSTS</h2>
                    <p>ALL THE RECENTS POSTS ON TALKARIA</p>
                </div>
                <!-- Sélecteur de catégories -->
                <div class="category-filter">
                    <label for="categorySelect">Filter by category:</label>
                    <select id="categorySelect">
                        <option class="change" value="">All Categories</option>
                        {% for category in categories %}
                            <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="blog-posts" id="blogPosts">
                    {% for post in posts %}
                        {% include 'adds/modele_post.html.twig' %}
                    {% else %}
                        <p>Aucun article trouvé.</p>
                    {% endfor %}
                </div>
                <div class="blog-post-pagination">
                    <nav aria-label="Page navigation example" class="nav-bg">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link active" href="#">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-post-widget">
                    <div class="latest-widget-title">
                        <h2>Trending Post</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#categorySelect').on('change', function () {
            var selectedCategory = $(this).val(); // C'est une variable JavaScript, pas Twig
            $('#blogPosts .blog-post').each(function () {
                var postCategory = $(this).find('.blog-post-tag a').text();
                if (selectedCategory === '' || postCategory === selectedCategory) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>

{% endblock %}
