{% extends 'permanent.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<section class="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-section-title">
                    <h2>Articles</h2>
                    <p>View the latest news on Blogger</p>
                </div>
                <div class="blog-posts">
                    {% for post in posts %}
                        {% include 'adds/modele_post.html.twig' %}
                    {% else %}
                        <p>Aucun article trouvé.</p>
                    {% endfor %}
                </div>
                <div class="blog-post-pagination">
                    <nav aria-label="Page navigation example" class="nav-bg">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link active" href="#">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-post-widget">
                    <div class="latest-widget-title">
                        <h2>Trending Post</h2>
                    </div>
                    <div class="latest-widget">
                        <div class="latest-widget-thum">
                            <a href="single-blog.html">
                                <img src="images/blog/blog-thum-8.png" alt="blog-thum" /></a>
                            <div class="icon">
                                <a href="single-blog.html">
                                    <img src="images/blog/icon.svg" alt="icon" /></a>
                            </div>
                        </div>
                        <div class="latest-widget-content">
                            <div class="content-title">
                                <a href="single-blog.html">Five Things You Need to Know to Start Your Day</a>
                            </div>
                            <div class="content-meta">
                                <ul>
                                    <li>
                                        <i class="fa fa-clock-o"></i>
                                        October 19, 2020 - 2 min
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Ajoutez plus de widgets ici si nécessaire -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
