<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('monBlog/assets/css/login.css') }}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block place %}{% endblock %}
    </body>
</html>
